<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaee.docmanager.file.mapper.FileMetadataMapper">

    <insert id="insert" parameterType="com.javaee.docmanager.file.entity.FileMetadata" useGeneratedKeys="false">
        INSERT INTO file_metadata (id, file_id, file_name, original_file_name, file_path, file_type, file_size, md5, storage_type, bucket_name, object_key, status, create_by, create_time, update_time)
        VALUES (#{id}, #{fileId}, #{fileName}, #{originalFileName}, #{filePath}, #{fileType}, #{fileSize}, #{md5}, #{storageType}, #{bucketName}, #{objectKey}, #{status}, #{createBy}, #{createTime}, #{updateTime})
    </insert>

    <select id="selectById" resultType="com.javaee.docmanager.file.entity.FileMetadata">
        SELECT * FROM file_metadata WHERE id = #{id}
    </select>

    <select id="selectByFileId" resultType="com.javaee.docmanager.file.entity.FileMetadata">
        SELECT * FROM file_metadata WHERE file_id = #{fileId}
    </select>

    <update id="updateById" parameterType="com.javaee.docmanager.file.entity.FileMetadata">
        UPDATE file_metadata
        SET file_name = #{fileName}, original_file_name = #{originalFileName}, file_path = #{filePath},
            file_type = #{fileType}, file_size = #{fileSize}, status = #{status}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <update id="updateByFileId" parameterType="com.javaee.docmanager.file.entity.FileMetadata">
        UPDATE file_metadata
        SET file_name = #{fileName}, original_file_name = #{originalFileName}, file_path = #{filePath},
            file_type = #{fileType}, file_size = #{fileSize}, status = #{status}, update_time = #{updateTime}
        WHERE file_id = #{fileId}
    </update>

    <delete id="deleteByFileId">
        DELETE FROM file_metadata WHERE file_id = #{fileId}
    </delete>

    <select id="selectList" resultType="com.javaee.docmanager.file.entity.FileMetadata">
        SELECT * FROM file_metadata
        <where>
            (file_type IS NULL OR (file_type NOT LIKE '%pdf%' AND file_type NOT LIKE '%word%' AND file_type NOT LIKE '%msword%'
            AND file_type NOT LIKE '%csv%' AND file_type NOT LIKE '%spreadsheet%' AND file_type NOT LIKE '%excel%'
            AND file_type NOT LIKE '%powerpoint%' AND file_type NOT LIKE '%presentation%'))
            <if test="createBy != null and createBy != ''">
                AND create_by = #{createBy}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy != ''">
                ORDER BY ${orderBy}
                <choose>
                    <when test="direction == 'asc'">ASC</when>
                    <otherwise>DESC</otherwise>
                </choose>
            </when>
            <otherwise>ORDER BY create_time DESC</otherwise>
        </choose>
        LIMIT #{offset}, #{size}
    </select>

    <select id="searchByKeyword" resultType="com.javaee.docmanager.file.entity.FileMetadata">
        SELECT * FROM file_metadata
        WHERE (file_name LIKE CONCAT('%', #{keyword}, '%') OR original_file_name LIKE CONCAT('%', #{keyword}, '%'))
        AND (file_type IS NULL OR (file_type NOT LIKE '%pdf%' AND file_type NOT LIKE '%word%' AND file_type NOT LIKE '%msword%'
            AND file_type NOT LIKE '%csv%' AND file_type NOT LIKE '%spreadsheet%' AND file_type NOT LIKE '%excel%'
            AND file_type NOT LIKE '%powerpoint%' AND file_type NOT LIKE '%presentation%'))
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
        ORDER BY create_time DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM file_metadata
        WHERE file_type IS NULL OR (file_type NOT LIKE '%pdf%' AND file_type NOT LIKE '%word%' AND file_type NOT LIKE '%msword%'
            AND file_type NOT LIKE '%csv%' AND file_type NOT LIKE '%spreadsheet%' AND file_type NOT LIKE '%excel%'
            AND file_type NOT LIKE '%powerpoint%' AND file_type NOT LIKE '%presentation%')
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
    </select>

    <select id="countByKeyword" resultType="int">
        SELECT COUNT(*) FROM file_metadata
        WHERE (file_name LIKE CONCAT('%', #{keyword}, '%') OR original_file_name LIKE CONCAT('%', #{keyword}, '%'))
        AND (file_type IS NULL OR (file_type NOT LIKE '%pdf%' AND file_type NOT LIKE '%word%' AND file_type NOT LIKE '%msword%'
            AND file_type NOT LIKE '%csv%' AND file_type NOT LIKE '%spreadsheet%' AND file_type NOT LIKE '%excel%'
            AND file_type NOT LIKE '%powerpoint%' AND file_type NOT LIKE '%presentation%'))
        <if test="createBy != null and createBy != ''">
            AND create_by = #{createBy}
        </if>
    </select>

    <select id="selectByFileType" resultType="com.javaee.docmanager.file.entity.FileMetadata">
        SELECT * FROM file_metadata
        <where>
            <choose>
                <when test="fileType == 'image'">file_type LIKE 'image/%'</when>
                <when test="fileType == 'compressed'">(file_type LIKE '%zip%' OR file_type LIKE '%rar%' OR file_type LIKE '%7z%' OR file_type LIKE '%tar%' OR file_type LIKE '%gzip%' OR file_type LIKE '%compressed%')</when>
                <otherwise>file_type IS NULL OR (file_type NOT LIKE '%pdf%' AND file_type NOT LIKE '%word%' AND file_type NOT LIKE '%msword%' AND file_type NOT LIKE '%powerpoint%' AND file_type NOT LIKE '%presentation%' AND file_type NOT LIKE '%csv%')</otherwise>
            </choose>
            <if test="createBy != null and createBy != ''">
                AND create_by = #{createBy}
            </if>
        </where>
        ORDER BY ${orderBy} ${direction}
        LIMIT #{offset}, #{size}
    </select>

    <select id="countByFileType" resultType="int">
        SELECT COUNT(*) FROM file_metadata
        <where>
            <choose>
                <when test="fileType == 'image'">file_type LIKE 'image/%'</when>
                <when test="fileType == 'compressed'">(file_type LIKE '%zip%' OR file_type LIKE '%rar%' OR file_type LIKE '%7z%' OR file_type LIKE '%tar%' OR file_type LIKE '%gzip%' OR file_type LIKE '%compressed%')</when>
                <otherwise>file_type IS NULL OR (file_type NOT LIKE '%pdf%' AND file_type NOT LIKE '%word%' AND file_type NOT LIKE '%msword%' AND file_type NOT LIKE '%powerpoint%' AND file_type NOT LIKE '%presentation%' AND file_type NOT LIKE '%csv%')</otherwise>
            </choose>
            <if test="createBy != null and createBy != ''">
                AND create_by = #{createBy}
            </if>
        </where>
    </select>

</mapper>
